<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="min_functionality.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contents</title>
</head>
<body>
    <h1 class="appear">o dear</h1>
    <h2 class="appear">online diary</h2>
    <div class="profile"><img src="pictures\musc.txt (2).jpg" alt="Profile Picture"></div>
    <div class="list">
        <li>
            <ul><a href="entry.html" class="appear">Add entry</a></ul>
            <ul><table id="entries">
                <tr ><td class="each"><a href="view_entry">Monday 24th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Tuesday 25th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Wednesday 26th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Thursday 27th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Friday 28th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Saturday 29th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Sunday 30th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Monday 1st 24th</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Tuesday 2nd</a></td></tr>
                <tr ><td class="each"><a href="view_entry">Wednesday 3rd</a></td></tr>
            </table></ul>
        </li>
    </div>
</body>
</html>