<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="min_functionality.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    <link rel="stylesheet" href="styles.css">
    <title>O Dear</title>
</head>
<body>
    <h1>o dear</h1>
    <div id='reg'><a href="create.html">Create Diary</a></div>
    <form action="" method="POST">
        <table id="credentials">
            <tr>
                <td>
                    <label for="name">name</label>
                </td>
            </tr>
            <tr>
                    <td>
                        <input type="text" id="name" autocomplete="on" required>
                    </td>
                </tr>
            <tr>
                <td>
                    <label for="lock">lock</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="lock" minlength="4" required>
                </td>
                </tr>
            <tr><td><input type="submit" value="Open"></td></tr>
        </table>
    </form>
    <table id="alt_credentials">
        <tr><td class="alt_cred">Sign in with:</td></tr>
        <tr>
            <td class="o_auth"><button>google</button></td>
            <td class="o_auth"><button>microsoft</button></td>
            <td class="o_auth"><button>email</button></td>
        </tr>
    </table>
</body>
</html>