<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
</head>

<body>
    <h1 class="appear">MyDiary</h1>
    <h2 class="appear">online diary</h2>
    <div class="line"></div>
    <h3>Page not found</h3>
    <div class="appear">
        <a href="http://127.0.0.1:5000/home" class="appear">Return home</a>
        ...or...
        <a href="http://127.0.0.1:5000/index" class="appear">Close Diary</a>
    </div>
    <div class="footer">
        <p class="appear">© Copyright バロン</p> 
    </div>
</body>

</html>