<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="static/styles.css">
    <title>MyDiary</title>
</head>

<body>
    <h1 class="appear">MyDiary</h1>
    <h2 class="appear">Online Diary</h2>
    <div class="appear">
        <a href="http://127.0.0.1:5000/home" class="appear">Home</a>
        ...or...
        <a onclick="logout()" class="appear">Close Diary</a>
    </div>
    <div class="account">
        <table class="account_table">
            <tr class="day_selector">
                <td class="remind appear">
                    <input type="checkbox" class="check"> Send reminders for new entry
                </td>
            </tr>
            <tr>
                <td class="remind appear">Select Days:</td>
            </tr>
            <tr>
                <td class="remind appear">
                    <input type="checkbox">Monday</td>
                <td class="remind appear">
                    <input type="checkbox">Tuesday</td>
                <td class="remind appear">
                    <input type="checkbox">Wednesday</td>
                <td class="remind appear">
                    <input type="checkbox">Thursday</td>
                <td class="remind appear">
                    <input type="checkbox">Friday</td>
                <td class="remind appear">
                    <input type="checkbox">Saturday</td>
                <td class="remind appear">
                    <input type="checkbox">Sunday</td>
            </tr>
        </table>
        <table class="account_table password_settings">
            <form action="" id="creds_2">
                <tr>
                    <td class="appear">
                        <legend>Change Lock</legend>
                    </td>
                </tr>
                <tr>
                    <td class="appear">
                        <input type="password" id="new_p1" placeholder="new lock" onkeyup="same_password();">
                    </td>
                </tr>
                <tr>
                    <td class="appear">
                        <input type="password" id="new_p2" placeholder="confirm new lock" onkeyup="same_password();">
                        <span id="message"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="save new lock" onclick="update_details()" class="appear">
                    </td>
                </tr>
            </form>
        </table>
        <table class="account_table account_settings">
            <form action="">
                <tr>
                    <td class="appear">
                        <label for="email">Change Mail</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" onclick="update_details()" value="save" class="appear">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</body>

</html>