<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <title>Entry</title>
</head>

<body>
    <h1 class="appear">MyDiary</h1>
    <h2 class="appear">Online Diary</h2>
    <div class="appear">
        <a href="account.html" class="appear">Account</a>
        ...or...
        <input type="button" onclick="logout()" class="appear" value="Close Diary"></input>
    </div>
    <div class="list">
        <li>
            <ul>
                <label for="entry" class="appear">Entry...</label>
            </ul>
            <ul>
                <div class="appear">
                    <a href="home_page.html">Delete,</a>
                    <span>....</span>
                    <input type="button" onclick="add_entry()" value="Save" class="appear"></input>
            </ul>
            </div>
            <ul>
                <textarea id="title" class="added" class="appear" cols="1" rows="1"></textarea>
            </ul>
            <ul>
                <textarea id="content" class="added" cols="1" rows="30"></textarea>
            </ul>
            <script type="text/javascript">
                view_entry()
            </script>
        </li>
    </div>
</body>

</html>