<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1 class="appear">MyDiary</h1>
    <h2 class="appear">Online Diary</h2>
    <div class="appear">
        <a href="account.html" class="appear">Check Account</a>
        ...or...
        <a onclick="logout()" class="appear">Close Diary</a>
    </div>
    <div id="entries_block">
        <a href="entry.html" class="appear">Add Entry</a>
        <div class="appear" id="del"> Delete Selected </div>
        <table id="entries_table">
            <tr><td class="each"><input type="checkbox"><a href="entry.html">Monday 24th</a></td></tr>
            <tr><td class="each"><input type="checkbox"><a href="entry.html"></a></td></tr>
        </table>
        <div class="appear" id="del">
            <h4><a href="older.html">Older...</a></h4>
        </div>
    </div>
</body>
</html>