<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <title>Home</title>
</head>

<body>
    <h1 class="appear">MyDiary</h1>
    <h2 class="appear">Online Diary</h2>
    <div class="appear" id="home_nav">
        <a href="http://127.0.0.1:5000/entry" class="each">Add Entry</a>
        <a onclick="delete_several()" class="each"> Delete Selected </a>
        ...or...
        <a href="http://127.0.0.1:5000/account" class="each">Account</a>
        <a onclick="logout()" class="each">Close Diary</a>
    </div>
    <div id="entries_block">
        <table id="entries_table">
            <script type="text/javascript">
                display_entries()
            </script>
        </table>
    </div>
    <div class="footer">
        <p class="appear">© Copyright バロン</p> 
    </div>
</body>

</html>